/* .anim_btn {
    position: relative;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    overflow: hidden;
    z-index: 0;
  }
  
  .anim_btn::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(45deg, #ffeb3b, #00bcd4, #ff5722, #8bc34a);
    background-size: 400% 400%;
    animation: AnimBtn 10s ease infinite;
    border-radius: 10px;
  }
  .anim_btn span{
    font-size: 18px;
    font-weight: 700;
  }
  
  @keyframes AnimBtn {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
   */

.anim_btn{
  width: 180px;
  height: 50px;
  background: #092636;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.anim_btn::before{
  position: absolute;
  content: '';
  width: 200px;
  height: 100px;
  background: linear-gradient(to left, #f502f5, #00ffc8);
  animation: animBtn 5s linear infinite;
}
.anim_btn:hover::before{
  position: absolute;
  content: '';
  width: 200px;
  height: 100px;
  background: linear-gradient(to left, #f502f5, #00ffc8);
  animation: animStop 5s linear forwards;
}
@keyframes animSotp{
  100%{
    transform: rotate(0deg);
  }
}

@keyframes animBtn {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.anim_btn::after{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 175px;
  height: 45px;
  background: #092636;
  border-radius: 10px;
}

.anim_btn span{
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 16px;
  z-index: 111;
  animation: animText 5s linear 1s infinite;
}

@keyframes animText {
  0%{
    color: #fff;
  }
  50%{
    color: #f502f5;
  }
  100%{
    color: #00ffc8
  }
}



