@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply text-2xl text-slate-50 opacity-75 hover:opacity-100 hover:text-blue-700;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
