@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply text-xl text-gray-950 dark:text-slate-50 opacity-75 hover:opacity-100 hover:text-blue-700;
  }
  .mobile-nav {
    @apply text-xl dark:text-white hover:bg-slate-400 text-gray-900 hover:font-medium;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
}

:root {
  --text-color: black;
  --background-color: white;
  --glass-color: rgba(255, 255, 255, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.37);
  --border-color: rgba(255, 255, 255, 0.18);
  --highlight-color: rgb(238, 32, 211);
}

.dark {
  --text-color: white;
  --background-color: black;
  --glass-color: rgba(255, 255, 255, 0.05);
  --shadow-color: rgba(255, 255, 255, 0.15);
  --border-color: rgba(255, 255, 255, 0.3);
  --highlight-color: rgb(240, 35, 220);
}

.glass-effect {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  transition: border 0.3s ease-in-out;
}
.glass-effect:hover{
  border: 1px solid rgb(238, 32, 211)
}
.btn-effect {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 32px;
  transition: border 0.3s ease-in-out;
  padding: 7px 20px;
  margin: 20px 0;

}
.glass-effect:hover .btn-effect{
  border: 1px solid rgb(240, 35, 220)
}
